.asd{
  width: 500px;
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #c9c9c9;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar a {
  display: block;
  color: black;
  padding: 5px;
  text-decoration: none;
  text-align: left;
}

.navbaricon{
  margin-right: 7px;
}
 
.formcss{
  margin-left:100px;
  width:1200px
}
.addproject{
  margin-right:100px
}

.addprojectdiv{
  width: 800px;
}


.sidebar a:hover:not(.active) {
  color: blue;
}

div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
  width: 100%;
  position: fixed;
}
.MentoringContent{
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
  position: fixed;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}

